/******************************* CODE GÉNÉRAL *******************************/

:root {
    --bleu: #53ACFF;
    --orange : #FF9C64;
    --fond : #333333;
    --fondbis : #505050;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
}
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
	letter-spacing: 2px;
	position: relative;
    background-color: #EDEDED;
}
.title {
    background-color: #FF9C64;
    color: #fff;
    text-align: center;
    padding: 30px;
    font-size: 50px;
}
/******************************* CODE DE LA NAVBAR *******************************/

.DAKTARI img{
    margin-left: 7px;
    width: 75px;
    cursor: pointer;
}   
.NAVBAR{
    padding-top: 5px;
    z-index: 999;
    position: sticky;
    background-color: #53ACFF;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: .5s;
    border-bottom: 2px solid #fff;
}
.NAVI{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    position: relative;
}
.NAVI .menu{
    position: relative;
    display: flex;
    list-style: none;
    justify-content: center;
    user-select: none;
    align-items: center;
    text-align: center;
}
.menu li>a{
    display: block;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    margin: 5px;
    padding: 5px 15px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.NAVBAR .item a {
    color: #fff;
}
.NAVBAR .item:hover{
    background-color: #FF9C64;
    border-radius: 100px;
    transition: .3s;
}
.NAVBAR .connect a{
    color: #FF9C64;
    text-shadow: 1px 2px 2px #333333a0;
}
.NAVBAR .connect:hover a{
    color: #fff;
}
.NAVBAR .rdv{
    margin-right: 7px;
    background-color: #FF9C64;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 100px;
}
.NAVBAR .rdv:hover {
    background-color: #fff;
    border: 2px solid #FF9C64;
    border-radius: 100px;
}
.NAVBAR .rdv a:hover{
    color: #FF9C64;
}
.scroll{
    position: fixed;
    top:0px;
    left: 0;
    right: 0;
    width: 0%;
    height: 5px;
    background-color: #FF9C64;
    transition: width .3s ease-in-out;
}

@media (max-width:1140px){

    .DAKTARI img{
        width: 200px!important;
    }

    .NAVBAR .NAVI .menu{
        position: fixed;
        top: 60px;
        left:-100%;
        visibility: hidden;
        display: block;
        background: #53ACFF;
        list-style: none;
        min-width: 300px;
        height: 100%;
        justify-content: center;
        padding: 20px 20px;
        overflow-y:auto;
        transition: .5s;
        transition-property: left, visibility; 
    }

    .NAVBAR .NAVI .menu.active{
        left:0;
        visibility: visible;
    }

    .NAVBAR .item:hover{
        background-color: transparent;
        }
        
    .menu .item{
        position: relative;
    }

    .menu .item a:hover{
        color: #FF9C64;
        transition: .3s;
    }

    .menu .item a:active{
        color: #fff;
        background-color: #FF9C64;
    }
    
}


/******************************* CODE DE L'ACCUEIL *******************************/

.accueil {
    background: url(./img/clinique.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover; 
    margin: 0;
    text-align: bottom;
    padding: 25%;
}
.accueil p {
    color: #fff;
    align-items: center;
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    background: rgba(83, 172, 255, 0.5);
    position: relative;
    padding: 20px;
    line-height: 75px;
}
.infos{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    height: 300px;
    align-items: center;
}
.bloc {
    margin-left: 100px;
    margin-right: 100px;
    display: inline-block;
    width: 15%;
    color: #53ACFF;
    font-weight: bolder;
    text-align: center;
}
.infos img{
    margin-bottom: 20px;
}
.plus {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    height: 300px;
    margin-top: 150px;
}
.plus a {
    color: #FF9C64;
    text-decoration: none;
}



/******************************* CODE DE PAGE TEAM *******************************/

.veto div {
    margin: 15px;
    padding: 100px;
}
.veto h2 {
    font-size: 30px;
    font-weight: bold;
    color: #FF9C64;
    margin-left: 15px;
}
.veto h3 {
    font-size: 20px;
    font-weight: lighter;
    color: #53ACFF;
    margin-left: 15px;
}
.veto img {
    float: right;
    width: 50%;
    height: 50%;
    border-radius: 15px;
}
.pres {
    font-size: 23px;
    text-align: justify;
    text-align-last: center;
    width: 45%;
    margin-left: 15px;
}
hr {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}
.txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
.txt p {
    width: 75%;
    text-align: justify;
    text-align-last: center;
}




/******************************* CODE DE PAGE CONNEXION *******************************/

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
}
.formulaire_co {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    border-radius: 5px;
    background-color: #EDEDED;
    padding: 25px 200px 100px 200px;
    box-shadow: 12px 12px 2px 1px #3333338a;
}
.formulaire_co h1 {
    color: #333333;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}
.formulaire_co h2 {
    color: #FF9C64;
    text-align: center;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}
form{
    display: flex;
    flex-direction: column;
}
form label {
    color: #53ACFF;
    font-weight: bold;
    font-size: 15px;
}
form input{
    color: #53ACFF;
    margin: 5px 0;
    padding: 5px 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-weight: bold;
}
form input[type='submit']{
    background-color: #53ACFF;
    align-items: center;
    border: 1px solid #53ACFF;
    border-radius: 5px;
    color: #fff;
    margin-top: 25px;
    padding: 6px 0;
    cursor: pointer;
}
.formulaire_co button {
    background-color: #333333;
    border: 1px solid #fff;
    border-radius: 5px;
    align-items: center;
    color: #EDEDED;
    margin-top: 15px;
    padding: 6px 0;
    cursor: pointer;
    font-weight: bold;
}
.formulaire_co button a {
    text-decoration: none;
    color: #fff;
}









/******************************* CODE DU FOOTER *******************************/

.footer {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    height: 100px;
    align-items: center;
    background-color: #fff;
    text-align: center;
    border-top: 25px solid #53ACFF;
}
.footer p {
    position: relative;
    color: #333333;
    text-align: center;
    align-items: center;
}
.footer .rec {
    width: 200px;
    height: 75px;
    background-color: #FF9C64;
}
.copyright {
    text-align: center;
    font-weight: bold;
    font-size: small;
    color: #fff;
    background-color: #53ACFF;
}





















